.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #1E1E1E;
  color: #F45801;
}

.navbar-brand h1 {
  margin: 0;
  color: #F45801;
}

.menu-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 10px;
  padding-left: 1.5rem;
  
}

.menu li a{
     text-decoration: none;
     color: #ffffff;
}

.menu li a:hover{
    color: #F45801;
}

/* 在小屏幕上显示菜单 */
@media (max-width: 768px) {
  
  .navbar{
    padding-left: 0px;
    padding-right: 0px;
    padding: 20px;
  }

  .menu-button {
    display: block; 
  }

  .menu {
    text-align: center;
    display: none; 
    flex-direction: column;
    position: absolute;
    margin-top: 375px;
    background-color: #1E1E1E;
    width: 90%;
    height: 300px;
  }

  .menu li{
    margin-top: 50px;
  }

  .menu.open {
    display: flex; 
  }
}
  